{% extends 'room_booking/index.html' %}

{% block body %}
    
<div class="container">
    
    <h1 class="fs-2">Room Number : {{ booking.room.number }}</h1>
    <h1 class="fs-2">User : {{ booking.user }}</h1>


    <h2 class="fs-3">From_time: </h2>
    <h3 class="fs-4">{{ booking.from_time }}</h3>
    <h2 class="fs-3">To_time: </h2>
    <h3 class="fs-4">{{ booking.to_time }}</h3>

    <h2 class="fs-3">Created_at: </h2>
    <h5 class="fs-5">{{ booking.created_at }}</h5>

        
</div>


{% endblock body %}
    

