{% extends 'index.html' %}

{% block body %}
  
<div class="container">
  {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'booking_form' %}">
    {% csrf_token %}
        
      <h3 class="fs-4">Room_number: </h3>
      <input type="text" id="room_number" name="room_number"> 
      <br>
      <h3 class="fs-4">From_time: </h3>
      <input type="datetime-local" id="from_time" name="from_time"> 
      <br>
      <h3 class="fs-4">To_time: </h3>
      <input type="datetime-local" id="to_time" name="to_time"> 
      <br>
        
      <button type="submit">Забронювати</button>
        
    </form>

  {% else %}
    <h1 class="fs-1">You're not authenticated</h1>
  {% endif %}
      

</div>
{% endblock body %}
    



