{% extends 'room_booking/index.html' %}

{% block body %}
  
<div class="container">
  {% if request.user.is_authenticated %}
    <form method="POST" action="{% url 'booking_form' %}">
    {% csrf_token %}
        
      <label class="form-label">Room_number: </label>
      <input type="text" id="room_number" name="room_number" class="form-control"> 
      <br>
      <label class="form-label">From_time: </label>
      <input type="datetime-local" id="from_time" name="from_time" class="form-control"> 
      <br>
      <label class="form-label">To_time: </label>
      <input type="datetime-local" id="to_time" name="to_time" class="form-control"> 
      <br>
        
      <button type="submit" class="btn btn-primary">Забронювати</button>
        
    </form>

  {% else %}
    <h1 class="fs-1">You're not authenticated</h1>
  {% endif %}
      

</div>
{% endblock body %}
    



