{% extends "base.html" %}

{% block content %}
<div class="container">
  <table class="table table-light table-hover caption-top">
    <caption class="fs-1 text-center flex-fill">Reviews</caption>
    <thead class="table-primary">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Text</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% comment %} <tr>
        <th scope="row">yagodanr</th>
      
        <td>{% lorem %}</td>
        <td>2024.03.02</td>
      </tr> {% endcomment %}
      {% for rev in reviews %}
        <tr>
          <th scope="row">{{ rev.username }}</th>
          <td>{{ rev.text }}</td>
          <td>{{ rev.date }}</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>    


{% endblock content %}
    

